@import "./color";

.app-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 85vw;
  margin: 2rem auto;
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: white;
}

.error-message {
  color: $blue2;
  text-align: center;
  margin: 2rem;
}

//iPhone X
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .app-wrapper {
    padding: 1rem 0.5rem;
  }
}
