@import "../../../styles/colors";

.searchBar {
  text-align: center;
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: $whiteish;
  border-radius: 10px;
  width: 60vw;

  &__input {
    width: 90%;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.25rem;
    border: none;
    background-color: $whiteish;
    color: $blue3;

    &::placeholder {
      color: $blue2;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: $blue3;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $blue2;
      transition: 0.5s ease-in-out;
    }

    i {
      color: $blue1;
      font-size: 1rem;
    }
  }
}

//iPhone X
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .searchBar {
    display: flex;
    flex-direction: column;
    width: 70vw;

    &__input {
      &::placeholder {
        text-align: center;
      }
    }
  }
}
